/*
 *  This program is free software; you can redistribute it and/or
 *  modify it under the terms of the GNU General Public License
 *  as published by the Free Software Foundation; either version 2
 *  of the License, or (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *  Author: g0tsu
 *  Email:  g0tsu at dnmx.0rg
 */

label {
  background-color: #222;
  color: #fff;
  padding-right: 5px;
}

entry,
entry:focus {
  background-image: none;
  background-color: #111;
  border-width: 0;
  border-style: inset;
  color: #fff;
  box-shadow: none;
  border-radius: 0;
}

* {
  border-color: transparent;
  border: none;
  box-shadow: none;
  border-radius: 0;
}

